{
  "openapi": "3.0.0",
  "info": {
    "title": "UNIPaaS Platform API",
    "description": "UNIPaaS API for Platforms was implemented in a RESTful state of mind, our API has straight-forward, resource-oriented endpoints and produces standard HTTP response codes to communicate back the result of operations. We comply with most common HTTP standard, such as HTTP verbs, authentication and resource nesting.",
    "version": "1.12",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://sandbox.unipaas.com/platform"
    },
    {
      "url": "https://api.unipaas.com/platform"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "type": "http"
      }
    },
    "schemas": {
      "AuthorizeRequest": {
        "type": "object",
        "properties": {
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "master",
                "viewer",
                "developer",
                "onboarding_read",
                "onboarding_write",
                "ewallet_read",
                "websdk_access",
                "payout_write",
                "payout_read",
                "checkout_create",
                "link_read",
                "link_write",
                "public_config_read",
                "notification_read",
                "notification_write",
                "config_read",
                "login_access",
                "direct_debit_write",
                "direct_debit_read",
                "consumer_public_access"
              ]
            }
          },
          "vendorId": {
            "type": "string"
          }
        },
        "required": ["scopes"]
      },
      "AuthorizeResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "number"
          },
          "vendorId": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "master",
                "viewer",
                "developer",
                "onboarding_read",
                "onboarding_write",
                "ewallet_read",
                "websdk_access",
                "payout_write",
                "payout_read",
                "checkout_create",
                "link_read",
                "link_write",
                "public_config_read",
                "notification_read",
                "notification_write",
                "config_read",
                "login_access",
                "direct_debit_write",
                "direct_debit_read",
                "consumer_public_access"
              ]
            }
          }
        },
        "required": ["accessToken", "expiresIn", "vendorId", "scopes"]
      },
      "Category": {
        "type": "string",
        "enum": [
          "FOOD_DELIVERY",
          "DIGITAL_GOODS",
          "ONLINE_SERVICES",
          "TRANSPORTATION",
          "AGRICULTURAL_CO_OP",
          "ARTIST_SUPPLY",
          "MEMBERSHIP_CLUB",
          "CATERERS",
          "CONSTRUCTION_MATERIALS",
          "ENGINEERING_AND_SURVEYING_SERVICES",
          "HEALTH_AND_MEDICAL_SERVICES",
          "TELECOMMUNICATION_SERVICES",
          "INDUSTRIAL_SUPPLIES",
          "MEDIA_ADVERTISING_SERVICES",
          "UTILITIES",
          "FURNITURE_AND_HOME_FURNISHINGS",
          "PROFESSIONAL_SERVICES",
          "MISC_AND_RETAIL_STORES",
          "PERSONAL_SERVICES",
          "WHOLESALE_CLUBS",
          "MANAGEMENT",
          "ARCHITECTURAL_SERVICES",
          "GENERAL_CONTRACTORS",
          "GROCERIES_AND_SUPERMARKETS",
          "ONLINE_RETAIL"
        ]
      },
      "OnboardingType": {
        "type": "string",
        "enum": ["individual", "company"]
      },
      "VendorPayload": {
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string",
            "example": "UNIPaaS"
          },
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          },
          "country": {
            "type": "string",
            "format": "ISO 3166-1 alpha-2",
            "example": "GB"
          },
          "phone": {
            "type": "string",
            "example": "+447911123456"
          },
          "birthDate": {
            "type": "string",
            "format": "YYYY-MM-DD",
            "example": "1980-01-01"
          },
          "serviceDescription": {
            "type": "string",
            "example": "Service description"
          },
          "url": {
            "type": "string",
            "example": "https://platform.com"
          },
          "category": {
            "example": "FOOD_DELIVERY",
            "type": "string",
            "enum": [
              "FOOD_DELIVERY",
              "DIGITAL_GOODS",
              "ONLINE_SERVICES",
              "TRANSPORTATION",
              "AGRICULTURAL_CO_OP",
              "ARTIST_SUPPLY",
              "MEMBERSHIP_CLUB",
              "CATERERS",
              "CONSTRUCTION_MATERIALS",
              "ENGINEERING_AND_SURVEYING_SERVICES",
              "HEALTH_AND_MEDICAL_SERVICES",
              "TELECOMMUNICATION_SERVICES",
              "INDUSTRIAL_SUPPLIES",
              "MEDIA_ADVERTISING_SERVICES",
              "UTILITIES",
              "FURNITURE_AND_HOME_FURNISHINGS",
              "PROFESSIONAL_SERVICES",
              "MISC_AND_RETAIL_STORES",
              "PERSONAL_SERVICES",
              "WHOLESALE_CLUBS",
              "MANAGEMENT",
              "ARCHITECTURAL_SERVICES",
              "GENERAL_CONTRACTORS",
              "GROCERIES_AND_SUPERMARKETS",
              "ONLINE_RETAIL"
            ]
          },
          "type": {
            "example": "individual",
            "type": "string",
            "enum": ["individual", "company"]
          },
          "createOnboardingLink": {
            "type": "boolean",
            "default": false,
            "example": true
          }
        },
        "required": ["firstName", "lastName", "email", "country"]
      },
      "CreatedVendor": {
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string",
            "example": "UNIPaaS"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+447911123456"
          },
          "birthDate": {
            "type": "string",
            "format": "YYYY-MM-DD",
            "example": "1980-01-01"
          },
          "serviceDescription": {
            "type": "string",
            "example": "Service description"
          },
          "url": {
            "type": "string",
            "example": "https://platform.com"
          },
          "category": {
            "example": "FOOD_DELIVERY",
            "type": "string",
            "enum": [
              "FOOD_DELIVERY",
              "DIGITAL_GOODS",
              "ONLINE_SERVICES",
              "TRANSPORTATION",
              "AGRICULTURAL_CO_OP",
              "ARTIST_SUPPLY",
              "MEMBERSHIP_CLUB",
              "CATERERS",
              "CONSTRUCTION_MATERIALS",
              "ENGINEERING_AND_SURVEYING_SERVICES",
              "HEALTH_AND_MEDICAL_SERVICES",
              "TELECOMMUNICATION_SERVICES",
              "INDUSTRIAL_SUPPLIES",
              "MEDIA_ADVERTISING_SERVICES",
              "UTILITIES",
              "FURNITURE_AND_HOME_FURNISHINGS",
              "PROFESSIONAL_SERVICES",
              "MISC_AND_RETAIL_STORES",
              "PERSONAL_SERVICES",
              "WHOLESALE_CLUBS",
              "MANAGEMENT",
              "ARCHITECTURAL_SERVICES",
              "GENERAL_CONTRACTORS",
              "GROCERIES_AND_SUPERMARKETS",
              "ONLINE_RETAIL"
            ]
          },
          "type": {
            "example": "individual",
            "type": "string",
            "enum": ["individual", "company"]
          },
          "createOnboardingLink": {
            "type": "boolean",
            "default": false,
            "example": true
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string"
          },
          "updatedAt": {
            "format": "date-time",
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "acceptPayments": {
            "type": "boolean"
          },
          "receivePayout": {
            "type": "boolean"
          },
          "onboardingLink": {
            "type": "string"
          }
        },
        "required": ["email", "name"]
      },
      "UpdateDescriptor": {
        "type": "object",
        "properties": {
          "descriptor": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "ComponentsSettings": {
        "type": "object",
        "properties": {}
      },
      "PublicConfigurationResponse": {
        "type": "object",
        "properties": {
          "platformName": {
            "type": "string",
            "example": "X-Pay"
          },
          "pages": {
            "type": "object",
            "example": {
              "promoPageUrl": "https://www.google.co.il/",
              "feesPageUrl": "https://www.google.co.il/",
              "payPortalUrl": "https://www.google.co.il/"
            }
          },
          "components": {
            "example": {
              "payPortal": {
                "payments": true
              }
            },
            "allOf": [
              {
                "type": "object",
                "properties": {}
              }
            ]
          }
        },
        "required": ["platformName", "pages", "components"]
      },
      "CreateEwalletBody": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "enum": ["USD", "GBP", "EUR"],
            "example": "GBP",
            "default": "GBP"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["currency", "name"]
      },
      "Ewallet": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "pendingBalance": {
            "type": "number"
          },
          "payableBalance": {
            "type": "number"
          },
          "reserveBalance": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "merchantName": {
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "vendorId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "merchantName", "merchantId", "vendorId", "name"]
      },
      "EwalletTransaction": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "enum": ["USD", "GBP", "EUR"],
            "example": "GBP",
            "default": "GBP"
          },
          "pendingBalance": {
            "type": "number"
          },
          "payableBalance": {
            "type": "number"
          },
          "reserveBalance": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "vendorId": {
            "type": "number"
          },
          "fees": {
            "type": "number"
          },
          "transactionId": {
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "transactionType": {
            "type": "string",
            "enum": [
              "Auth",
              "Sale",
              "Auth3D",
              "Sale3D",
              "Settle",
              "Void",
              "Refund",
              "Auth3D_Challange",
              "Init3D"
            ],
            "default": "Sale"
          },
          "transactionResult": {
            "type": "string"
          },
          "reconciled": {
            "type": "string",
            "enum": ["true", "false", "irrelevant", "unknown"],
            "default": "true"
          },
          "eWalletId": {
            "type": "string"
          },
          "netAmount": {
            "type": "number"
          },
          "pendingAmount": {
            "type": "number"
          },
          "payableAmount": {
            "type": "number"
          },
          "reservedAmount": {
            "type": "number"
          },
          "payoutId": {
            "type": "number"
          },
          "originalAmount": {
            "type": "number"
          },
          "brand": {
            "type": "string"
          },
          "issuerCountry": {
            "type": "string",
            "default": "GB"
          },
          "authorizationId": {
            "type": "string"
          }
        },
        "required": ["id", "transactionType", "reconciled", "issuerCountry"]
      },
      "PayoutPaymentMethods": {
        "type": "string",
        "enum": ["bank_transfer", "visa_direct", "internal_transfer"]
      },
      "PayoutStatus": {
        "type": "string",
        "enum": [
          "initialized",
          "pending",
          "sent",
          "completed",
          "failed",
          "canceled",
          "declined",
          "unknown",
          "in_review"
        ]
      },
      "Payout": {
        "type": "object",
        "properties": {
          "eWalletId": {
            "type": "string"
          },
          "payoutOptionId": {
            "type": "string"
          },
          "payoutMethod": {
            "default": "bank_transfer",
            "type": "string",
            "enum": ["bank_transfer", "visa_direct", "internal_transfer"]
          },
          "currency": {
            "type": "string",
            "enum": ["USD", "GBP", "EUR"],
            "default": "GBP"
          },
          "id": {
            "type": "number"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "default": "pending",
            "type": "string",
            "enum": [
              "initialized",
              "pending",
              "sent",
              "completed",
              "failed",
              "canceled",
              "declined",
              "unknown",
              "in_review"
            ]
          },
          "merchantId": {
            "type": "string"
          },
          "vendorId": {
            "type": "string"
          }
        },
        "required": [
          "eWalletId",
          "payoutOptionId",
          "payoutMethod",
          "currency",
          "id",
          "amount",
          "status",
          "merchantId",
          "vendorId"
        ]
      },
      "CreatePayoutBody": {
        "type": "object",
        "properties": {
          "eWalletId": {
            "type": "string"
          },
          "payoutOptionId": {
            "type": "string"
          },
          "payoutMethod": {
            "default": "bank_transfer",
            "type": "string",
            "enum": ["bank_transfer", "visa_direct", "internal_transfer"]
          },
          "currency": {
            "type": "string",
            "enum": ["USD", "GBP", "EUR"],
            "default": "GBP"
          }
        },
        "required": ["eWalletId", "payoutOptionId", "payoutMethod", "currency"]
      },
      "PayoutFrequency": {
        "type": "string",
        "enum": ["daily", "weekly", "monthly"]
      },
      "PayoutConfiguration": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "frequency": {
            "example": "daily",
            "type": "string",
            "enum": ["daily", "weekly", "monthly"]
          },
          "id": {
            "type": "number"
          },
          "merchant_id": {
            "type": "string"
          }
        },
        "required": ["enabled", "frequency", "id", "merchant_id"]
      },
      "CreatePayoutConfigurationBody": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "frequency": {
            "example": "daily",
            "type": "string",
            "enum": ["daily", "weekly", "monthly"]
          }
        },
        "required": ["enabled", "frequency"]
      },
      "PayoutOptionType": {
        "type": "string",
        "enum": ["Card", "Alternative", "Bank Account"]
      },
      "CreateCardAccountBody": {
        "type": "object",
        "properties": {}
      },
      "BankAccount": {
        "type": "object",
        "properties": {
          "accountType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "countr": {
            "type": "string"
          },
          "bankCode": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          }
        }
      },
      "ApmAccount": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "PayoutOption": {
        "type": "object",
        "properties": {
          "payoutOptionType": {
            "example": "Card",
            "type": "string",
            "enum": ["Card", "Alternative", "Bank Account"]
          },
          "cardAccount": {
            "type": "object",
            "properties": {}
          },
          "bankAccount": {
            "type": "object",
            "properties": {
              "accountType": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "countr": {
                "type": "string"
              },
              "bankCode": {
                "type": "string"
              },
              "accountNumber": {
                "type": "string"
              }
            }
          },
          "apmAccount": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          }
        },
        "required": ["payoutOptionType"]
      },
      "PaymentOptionType": {
        "type": "string",
        "enum": ["Card", "Alternative", "Bank Account"]
      },
      "IdentityType": {
        "type": "string",
        "enum": ["consumer", "vendor", "platform"]
      },
      "CreatedPaymentOption": {
        "type": "object",
        "properties": {
          "paymentOptionType": {
            "example": "Card",
            "type": "string",
            "enum": ["Card", "Alternative", "Bank Account"]
          },
          "cardAccount": {
            "type": "object",
            "properties": {}
          },
          "bankAccount": {
            "type": "object",
            "properties": {
              "accountType": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "countr": {
                "type": "string"
              },
              "bankCode": {
                "type": "string"
              },
              "accountNumber": {
                "type": "string"
              }
            }
          },
          "apmAccount": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "identityType": {
            "example": "vendor",
            "type": "string",
            "enum": ["consumer", "vendor", "platform"]
          },
          "identity": {
            "type": "string"
          },
          "paymentOptionId": {
            "type": "string"
          }
        },
        "required": [
          "paymentOptionType",
          "identityType",
          "identity",
          "paymentOptionId"
        ]
      },
      "OnboardingLegacyStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "STARTED",
          "PAY_IN_SUCCESS",
          "PAY_IN_IN_REVIEW",
          "PAY_OUT_IN_REVIEW",
          "PAY_OUT_SUCCESS",
          "REJECTED"
        ]
      },
      "OnboardingStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "STARTED",
          "ACTION_REQUIRED",
          "RESTRICTED",
          "IN_REVIEW",
          "REJECTED",
          "ACCEPT_PAYMENTS",
          "COMPLETED"
        ]
      },
      "OnboardingCompletedIndividual": {
        "type": "object",
        "properties": {
          "status": {
            "example": "PENDING",
            "type": "string",
            "enum": [
              "PENDING",
              "STARTED",
              "PAY_IN_SUCCESS",
              "PAY_IN_IN_REVIEW",
              "PAY_OUT_IN_REVIEW",
              "PAY_OUT_SUCCESS",
              "REJECTED"
            ]
          },
          "onboardingStatus": {
            "example": "RESTRICTED",
            "type": "string",
            "enum": [
              "PENDING",
              "STARTED",
              "ACTION_REQUIRED",
              "RESTRICTED",
              "IN_REVIEW",
              "REJECTED",
              "ACCEPT_PAYMENTS",
              "COMPLETED"
            ]
          },
          "acceptPayments": {
            "type": "boolean",
            "example": true
          },
          "receivePayout": {
            "type": "boolean",
            "example": true
          },
          "fields": {
            "example": [
              {
                "alias": "individual.firstName",
                "editable": true,
                "status": "COMPLETED",
                "value": "John",
                "required": true
              },
              {
                "alias": "individual.lastName",
                "editable": true,
                "status": "COMPLETED",
                "value": "Doe",
                "required": true
              },
              {
                "alias": "individual.birthDate",
                "editable": true,
                "status": "COMPLETED",
                "value": "1991-04-02",
                "required": true
              },
              {
                "alias": "individual.email",
                "status": "COMPLETED",
                "value": "messi@example.com",
                "editable": null,
                "required": true
              },
              {
                "alias": "individual.phone",
                "status": "COMPLETED",
                "value": "+447911123456",
                "editable": null,
                "required": true
              },
              {
                "alias": "individual.address",
                "editable": true,
                "status": "COMPLETED",
                "value": {
                  "country": "GB",
                  "city": "London",
                  "state": "England",
                  "houseNumber": "64",
                  "street": "New Cavendish Street",
                  "postCode": "SW1W 0NY"
                },
                "required": true
              },
              {
                "alias": "business.url",
                "editable": true,
                "status": "COMPLETED",
                "value": "example.com",
                "required": true
              },
              {
                "alias": "business.category",
                "editable": true,
                "status": "COMPLETED",
                "value": "FOOD_DELIVERY",
                "required": true
              },
              {
                "alias": "business.serviceDescription",
                "editable": true,
                "status": "COMPLETED",
                "value": "example.com",
                "required": true
              },
              {
                "type": "HTML",
                "code": "\n<ul>\n<li>Please note you can accept payments up to a <strong>total amount of £1500</strong> for a <strong>limited period of 30 days</strong>, while we review and approve your account. </li>\n<li>You be may be required to provide additional information and documents as part of the verification process. </li>\n<li>Failure to provide the required information shall result in suspension of your account and/or a refund of the amounts received. UNIPaaS reserves the right to approve or reject my application accordingly. </li>\n</ul>\n\n\n<br />\n<br />\n<p>Here are some requierments form our legal department that you need to confirm: </p>\n<p>I have fully read, understood and hereby accept the <a href=\"https://unipaas-static-documents.s3.eu-west-1.amazonaws.com/platforms/{platformId}/msa.html\">UNIPaaS Merchant Services Terms</a> (“Terms”) for the use of its payments services and agree to be bound by it; </p>\n<p>I consent to the sharing of my documents and information with UNIPaaS, its affiliates and its third parties’ providers necessary for the payments services provided by UNIPaaS as stated in the Terms. </p>\n<p>I confirm that I will NOT sell any of the <a href=\"https://unipaas-static-documents.s3.eu-west-1.amazonaws.com/prohibited-list.html\" target=\"_blank\">prohibited items</a>, I understand that breaching this term will lead to immediate termination of my merchant account.</p>\n                ",
                "status": "PENDING",
                "required": true
              },
              {
                "alias": "business.agreement",
                "status": "COMPLETED",
                "value": {
                  "accepted": true,
                  "ipAddress": "1.1.1.1",
                  "publicUrl": "https://unipaas-static-documents.s3.eu-west-1.amazonaws.com/vendors/{vendorId}/signature/{signatureId}/msa.pdf"
                },
                "editable": null,
                "required": true
              },
              {
                "alias": "business.accountHolderName",
                "editable": true,
                "status": "COMPLETED",
                "value": "Doe",
                "required": true
              },
              {
                "alias": "business.bankAccount",
                "status": "COMPLETED",
                "value": "38290008",
                "editable": null,
                "required": true
              },
              {
                "alias": "business.sortCode",
                "status": "COMPLETED",
                "value": "200415",
                "editable": null,
                "required": true
              },
              {
                "alias": "individual.passport",
                "label": "Passport copy",
                "type": "FILE_INPUT",
                "required": false,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null
              },
              {
                "alias": "individual.drivingLicense",
                "label": "Driving license",
                "type": "FILE_INPUT",
                "required": false,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null
              },
              {
                "alias": "business.bankStatement",
                "label": "Upload a copy of your bank statement",
                "type": "FILE_INPUT",
                "required": false,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null
              }
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "status",
          "onboardingStatus",
          "acceptPayments",
          "receivePayout",
          "fields"
        ]
      },
      "OnboardingCompletedCompany": {
        "type": "object",
        "properties": {
          "status": {
            "example": "PAY_OUT_SUCCESS",
            "type": "string",
            "enum": [
              "PENDING",
              "STARTED",
              "ACTION_REQUIRED",
              "RESTRICTED",
              "IN_REVIEW",
              "REJECTED",
              "ACCEPT_PAYMENTS",
              "COMPLETED"
            ]
          },
          "onboardingStatus": {
            "example": "RESTRICTED",
            "type": "string",
            "enum": [
              "PENDING",
              "STARTED",
              "ACTION_REQUIRED",
              "RESTRICTED",
              "IN_REVIEW",
              "REJECTED",
              "ACCEPT_PAYMENTS",
              "COMPLETED"
            ]
          },
          "acceptPayments": {
            "type": "boolean",
            "example": true
          },
          "receivePayout": {
            "type": "boolean",
            "example": true
          },
          "fields": {
            "example": [
              {
                "alias": "company.registrationNumber",
                "type": "TEXT_FIELD",
                "label": "Company registration number",
                "editable": true,
                "rules": [
                  {
                    "pattern": "^\\d{8}$",
                    "message": "Registration Number must be exactly 8 digits"
                  }
                ],
                "maxLength": 8,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "company.name",
                "status": "COMPLETED",
                "value": "Bitter Sweet",
                "editable": null,
                "required": true
              },
              {
                "alias": "company.address",
                "label": "Corporate address",
                "editable": true,
                "tooltip": "Please enter a full address, including house number or name",
                "type": "ADDRESS_INPUT",
                "comment": "Example: 15 George Eliot, London WC2N 5DU, UK",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "company.email",
                "status": "COMPLETED",
                "value": "messi@example.com",
                "editable": null,
                "required": true
              },
              {
                "alias": "company.phone",
                "type": "PHONE",
                "label": "Phone Number",
                "rules": [
                  {
                    "pattern": "^\\+[0-9]{0,14}$",
                    "message": "Invalid Phone number"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "business.vat",
                "type": "TEXT_FIELD",
                "label": "VAT Number (optional)",
                "editable": true,
                "required": false,
                "rules": [
                  {
                    "pattern": "^\\d{9}$",
                    "message": "VAT Number must be exactly 9 digits"
                  }
                ],
                "maxLength": 8,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null
              },
              {
                "alias": "business.url",
                "type": "TEXT_FIELD",
                "label": "Commercial website URL",
                "editable": true,
                "tooltip": "This should be the website you use to sell your goods or services.\nIt can be your business profile page hosted by your platform’s website",
                "comment": "Please ensure that you have added the website's URL that you are planning to use to sell goods and services.",
                "rules": [
                  {
                    "pattern": "^.+..+$",
                    "message": "Invalid Website URL"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "business.category",
                "editable": true,
                "status": "COMPLETED",
                "value": "FOOD_DELIVERY",
                "required": true
              },
              {
                "alias": "representative.firstName",
                "editable": true,
                "status": "COMPLETED",
                "value": "Lionel",
                "required": true
              },
              {
                "alias": "representative.lastName",
                "editable": true,
                "status": "COMPLETED",
                "value": "Messi",
                "required": true
              },
              {
                "alias": "representative.birthDate",
                "type": "DATE_PICKER",
                "label": "Date of Birth",
                "min": "1902-02-17",
                "max": "2004-02-17",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.address",
                "type": "ADDRESS_INPUT",
                "label": "Home address",
                "comment": "Example: 15 George Eliot, London WC2N 5DU, UK",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.nationality",
                "type": "SELECT",
                "label": "Nationality",
                "items": [
                  "Afghan",
                  "Albanian",
                  "Algerian",
                  "Argentinian",
                  "Australian",
                  "Austrian",
                  "Bangladeshi",
                  "Belgian",
                  "Bolivian",
                  "Batswana",
                  "Brazilian",
                  "Bulgarian",
                  "Cambodian",
                  "Cameroonian",
                  "Canadian",
                  "Chilean",
                  "Chinese",
                  "Colombian",
                  "Costa Rican",
                  "Croatian",
                  "Cuban",
                  "Czech",
                  "Danish",
                  "Dominican",
                  "Ecuadorian",
                  "Egyptian",
                  "Salvadorian",
                  "English",
                  "Estonian",
                  "Ethiopian",
                  "Fijian",
                  "Finnish",
                  "French",
                  "German",
                  "Ghanaian",
                  "Greek",
                  "Guatemalan",
                  "Haitian",
                  "Honduran",
                  "Hungarian",
                  "Icelandic",
                  "Indian",
                  "Indonesian",
                  "Iranian",
                  "Iraqi",
                  "Irish",
                  "Israeli",
                  "Italian",
                  "Jamaican",
                  "Japanese",
                  "Jordanian",
                  "Kenyan",
                  "Kuwaiti",
                  "Lao",
                  "Latvian",
                  "Lebanese",
                  "Libyan",
                  "Lithuanian",
                  "Malagasy",
                  "Malaysian",
                  "Malian",
                  "Maltese",
                  "Mexican",
                  "Mongolian",
                  "Moroccan",
                  "Mozambican",
                  "Namibian",
                  "Nepalese",
                  "Dutch",
                  "New Zealand",
                  "Nicaraguan",
                  "Nigerian",
                  "Norwegian",
                  "Pakistani",
                  "Panamanian",
                  "Paraguayan",
                  "Peruvian",
                  "Philippine",
                  "Polish",
                  "Portuguese",
                  "Romanian",
                  "Russian",
                  "Saudi",
                  "Scottish",
                  "Senegalese",
                  "Serbian",
                  "Singaporean",
                  "Slovak",
                  "South African",
                  "Korean",
                  "Spanish",
                  "Sri Lankan",
                  "Sudanese",
                  "Swedish",
                  "Swiss",
                  "Syrian",
                  "Taiwanese",
                  "Tajikistani",
                  "Thai",
                  "Tongan",
                  "Tunisian",
                  "Turkish",
                  "Ukrainian",
                  "Emirati",
                  "British",
                  "American **",
                  "Uruguayan",
                  "Venezuelan",
                  "Vietnamese",
                  "Welsh",
                  "Zambian",
                  "Zimbabwean"
                ],
                "value": "English",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.role",
                "type": "SELECT",
                "label": "Role / Title",
                "items": ["CEO", "CFO", "SMO", "DIRECTOR", "OTHER"],
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.ownershipPercentage",
                "type": "TEXT_FIELD",
                "label": "% ownership of the business entity",
                "tooltip": "If you hold any ownership of the business entity,\nplease insert the percentage. Otherwise type 0",
                "rules": [
                  {
                    "pattern": "^[0-9][0-9]?$|^100$",
                    "message": "Field should be a number between 0-100"
                  }
                ],
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.passport",
                "label": "Passport copy",
                "type": "FILE_INPUT",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.drivingLicense",
                "label": "Driving license",
                "type": "FILE_INPUT",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.isAuthorized",
                "type": "CHECKBOX",
                "label": "I am the duly authorized representative of Bitter Sweet business entity",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "type": "HTML",
                "code": "\n\n\n\n\n\n<ul>\n<li>The Business will be eligible to accept payments up to a <strong>total amount of £2500</strong> for a <strong>limited period of 30 days</strong>,  while we review and approve the account. </li>\n<li>Your business may be required to provide additional information and documents as part of the verification process. </li>\n<li>Failure to provide the required information shall result in suspension of the account and/or a refund of the amounts received. UNIPaaS reserves the right to request additional information and approve or reject your application. </li>\n</ul>\n\n<br />\n<br />\n\n<p>Here are some requierments form our legal department that you need to confirm: </p>\n\n<p>On behalf of the Business, \n<br />\nI represent and undertake that, I have fully read, understood and hereby accept the <a href=\"https://unipaas-static-documents.s3.eu-west-1.amazonaws.com/platforms/605c8a4b8b37a82b60f0752d/msa.html\">UNIPaaS Merchant Services Terms</a> (“Terms”) for the use of its payments services and agree to be bound (and have the Business be bound) by it; \n</p>\n\n\n<p>The sharing of documents and information with UNIPaaS, its affiliates and its third parties’ providers necessary for the payments services provided as stated in the Terms. </p>\n<p>I confirm that the business will NOT sell any of the <a href=\"https://unipaas-static-documents.s3.eu-west-1.amazonaws.com/prohibited-list.html\" target=\"_blank\">prohibited items</a>.</p>\n\n\n\n\n\n",
                "status": "PENDING",
                "required": true
              },
              {
                "alias": "business.agreement",
                "type": "AGREEMENT",
                "label": "I agree",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "business.accountHolderName",
                "editable": true,
                "type": "TEXT_FIELD",
                "label": "Bank Account holder name",
                "tooltip": "Enter the full name of the business entity that is associated with the bank account",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "business.bankAccount",
                "type": "TEXT_FIELD",
                "label": "Account number",
                "comment": "For example: 38290008",
                "rules": [
                  {
                    "pattern": "^[0-9]{8}$",
                    "message": "Bank Account Number must be exactly 8 digits"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "business.sortCode",
                "type": "TEXT_FIELD",
                "label": "Sort code",
                "comment": "For example: 200415",
                "rules": [
                  {
                    "pattern": "^[0-9]{6}$",
                    "message": "Sort-code must be exactly 6 digits"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "type": "HTML",
                "code": "The following information can be found on your bank statement, or on the account page of your online banking web page or on your mobile banking application.",
                "status": "PENDING",
                "required": true
              },
              {
                "label": "Stakeholders",
                "alias": "company.ultimateBeneficialOwners",
                "type": "STAKEHOLDERS",
                "collapsed": true,
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "company.incorporationDocument",
                "label": "Incorporation Document",
                "type": "FILE_INPUT",
                "viewButton": true,
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "business.bankStatement",
                "type": "FILE_INPUT",
                "editable": true,
                "label": "Bank Statement or a Voided Cheque",
                "comment": "Please upload a file dated within the past 3 months",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              }
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "status",
          "onboardingStatus",
          "acceptPayments",
          "receivePayout",
          "fields"
        ]
      },
      "PendingOnboardingIndividual": {
        "type": "object",
        "properties": {
          "status": {
            "example": "PENDING",
            "type": "string",
            "enum": [
              "PENDING",
              "STARTED",
              "ACTION_REQUIRED",
              "RESTRICTED",
              "IN_REVIEW",
              "REJECTED",
              "ACCEPT_PAYMENTS",
              "COMPLETED"
            ]
          },
          "fields": {
            "example": [
              {
                "alias": "individual.firstName",
                "editable": true,
                "status": "PENDING",
                "value": null,
                "required": true
              },
              {
                "alias": "individual.lastName",
                "editable": true,
                "status": "PENDING",
                "value": null,
                "required": true
              },
              {
                "alias": "individual.birthDate",
                "type": "DATE_PICKER",
                "label": "Date of Birth",
                "min": "1902-02-17",
                "max": "2004-02-17",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "individual.email",
                "status": "PENDING",
                "value": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "individual.phone",
                "type": "PHONE",
                "label": "Phone Number",
                "rules": [
                  {
                    "pattern": "^\\+[0-9]{0,14}$",
                    "message": "Invalid Phone number"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "individual.address",
                "type": "ADDRESS_INPUT",
                "label": "Address",
                "editable": true,
                "comment": "Example: 15 George Eliot, London WC2N 5DU, UK",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "business.url",
                "type": "TEXT_FIELD",
                "label": "Profile URL",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "business.category",
                "editable": true,
                "status": "COMPLETED",
                "value": "FOOD_DELIVERY",
                "required": true
              },
              {
                "alias": "business.serviceDescription",
                "type": "TEXTAREA",
                "label": "Service Description",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "type": "HTML",
                "code": "\n<ul>\n<li>Please note you can accept payments up to a <strong>total amount of £1500</strong> for a <strong>limited period of 30 days</strong>, while we review and approve your account. </li>\n<li>You be may be required to provide additional information and documents as part of the verification process. </li>\n<li>Failure to provide the required information shall result in suspension of your account and/or a refund of the amounts received. UNIPaaS reserves the right to approve or reject my application accordingly. </li>\n</ul>\n\n\n<br />\n<br />\n<p>Here are some requierments form our legal department that you need to confirm: </p>\n<p>I have fully read, understood and hereby accept the <a href=\"https://unipaas-static-documents.s3.eu-west-1.amazonaws.com/platforms/{platformId}/msa.html\">UNIPaaS Merchant Services Terms</a> (“Terms”) for the use of its payments services and agree to be bound by it; </p>\n<p>I consent to the sharing of my documents and information with UNIPaaS, its affiliates and its third parties’ providers necessary for the payments services provided by UNIPaaS as stated in the Terms. </p>\n<p>I confirm that I will NOT sell any of the <a href=\"https://unipaas-static-documents.s3.eu-west-1.amazonaws.com/prohibited-list.html\" target=\"_blank\">prohibited items</a>, I understand that breaching this term will lead to immediate termination of my merchant account.</p>\n                ",
                "status": "PENDING",
                "required": true
              },
              {
                "alias": "business.agreement",
                "type": "AGREEMENT",
                "label": "I agree",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "business.accountHolderName",
                "type": "TEXT_FIELD",
                "label": "Bank Account holder name",
                "editable": true,
                "tooltip": "Enter the full name of the business entity that is associated with the bank account",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "business.bankAccount",
                "type": "TEXT_FIELD",
                "label": "Your Bank Account Number",
                "comment": "For example: 38290008",
                "rules": [
                  {
                    "pattern": "^[0-9]{8}$",
                    "message": "Bank Account Number must be exactly 8 digits"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "business.sortCode",
                "type": "TEXT_FIELD",
                "label": "Your Sort-code",
                "comment": "For example: 200415",
                "rules": [
                  {
                    "pattern": "^[0-9]{6}$",
                    "message": "Sort-code must be exactly 6 digits"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "individual.passport",
                "label": "Passport copy",
                "type": "FILE_INPUT",
                "required": false,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null
              },
              {
                "alias": "individual.drivingLicense",
                "label": "Driving license",
                "type": "FILE_INPUT",
                "required": false,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null
              },
              {
                "alias": "business.bankStatement",
                "label": "Upload a copy of your bank statement",
                "type": "FILE_INPUT",
                "required": false,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null
              }
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["status", "fields"]
      },
      "PendingOnboardingCompany": {
        "type": "object",
        "properties": {
          "status": {
            "example": "PENDING",
            "type": "string",
            "enum": [
              "PENDING",
              "STARTED",
              "ACTION_REQUIRED",
              "RESTRICTED",
              "IN_REVIEW",
              "REJECTED",
              "ACCEPT_PAYMENTS",
              "COMPLETED"
            ]
          },
          "fields": {
            "example": [
              {
                "alias": "company.registrationNumber",
                "type": "TEXT_FIELD",
                "label": "Company registration number",
                "editable": true,
                "rules": [
                  {
                    "pattern": "^\\d{8}$",
                    "message": "Registration Number must be exactly 8 digits"
                  }
                ],
                "maxLength": 8,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "company.name",
                "status": "PENDING",
                "value": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "company.address",
                "label": "Corporate address",
                "editable": true,
                "tooltip": "Please enter a full address, including house number or name",
                "type": "ADDRESS_INPUT",
                "comment": "Example: 15 George Eliot, London WC2N 5DU, UK",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "company.email",
                "status": "PENDING",
                "value": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "company.phone",
                "type": "PHONE",
                "label": "Phone Number",
                "rules": [
                  {
                    "pattern": "^\\+[0-9]{0,14}$",
                    "message": "Invalid Phone number"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "business.vat",
                "type": "TEXT_FIELD",
                "label": "VAT Number (optional)",
                "editable": true,
                "required": false,
                "rules": [
                  {
                    "pattern": "^\\d{9}$",
                    "message": "VAT Number must be exactly 9 digits"
                  }
                ],
                "maxLength": 8,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null
              },
              {
                "alias": "business.url",
                "type": "TEXT_FIELD",
                "label": "Commercial website URL",
                "editable": true,
                "tooltip": "This should be the website you use to sell your goods or services.\nIt can be your business profile page hosted by your platform’s website",
                "comment": "Please ensure that you have added the website's URL that you are planning to use to sell goods and services.",
                "rules": [
                  {
                    "pattern": "^.+..+$",
                    "message": "Invalid Website URL"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "business.category",
                "editable": true,
                "status": "PENDING",
                "value": null,
                "required": true
              },
              {
                "alias": "representative.firstName",
                "editable": true,
                "status": "PENDING",
                "value": null,
                "required": true
              },
              {
                "alias": "representative.lastName",
                "editable": true,
                "status": "PENDING",
                "value": null,
                "required": true
              },
              {
                "alias": "representative.birthDate",
                "type": "DATE_PICKER",
                "label": "Date of Birth",
                "min": "1902-02-17",
                "max": "2004-02-17",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.address",
                "type": "ADDRESS_INPUT",
                "label": "Home address",
                "comment": "Example: 15 George Eliot, London WC2N 5DU, UK",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.nationality",
                "type": "SELECT",
                "label": "Nationality",
                "items": [
                  "Afghan",
                  "Albanian",
                  "Algerian",
                  "Argentinian",
                  "Australian",
                  "Austrian",
                  "Bangladeshi",
                  "Belgian",
                  "Bolivian",
                  "Batswana",
                  "Brazilian",
                  "Bulgarian",
                  "Cambodian",
                  "Cameroonian",
                  "Canadian",
                  "Chilean",
                  "Chinese",
                  "Colombian",
                  "Costa Rican",
                  "Croatian",
                  "Cuban",
                  "Czech",
                  "Danish",
                  "Dominican",
                  "Ecuadorian",
                  "Egyptian",
                  "Salvadorian",
                  "English",
                  "Estonian",
                  "Ethiopian",
                  "Fijian",
                  "Finnish",
                  "French",
                  "German",
                  "Ghanaian",
                  "Greek",
                  "Guatemalan",
                  "Haitian",
                  "Honduran",
                  "Hungarian",
                  "Icelandic",
                  "Indian",
                  "Indonesian",
                  "Iranian",
                  "Iraqi",
                  "Irish",
                  "Israeli",
                  "Italian",
                  "Jamaican",
                  "Japanese",
                  "Jordanian",
                  "Kenyan",
                  "Kuwaiti",
                  "Lao",
                  "Latvian",
                  "Lebanese",
                  "Libyan",
                  "Lithuanian",
                  "Malagasy",
                  "Malaysian",
                  "Malian",
                  "Maltese",
                  "Mexican",
                  "Mongolian",
                  "Moroccan",
                  "Mozambican",
                  "Namibian",
                  "Nepalese",
                  "Dutch",
                  "New Zealand",
                  "Nicaraguan",
                  "Nigerian",
                  "Norwegian",
                  "Pakistani",
                  "Panamanian",
                  "Paraguayan",
                  "Peruvian",
                  "Philippine",
                  "Polish",
                  "Portuguese",
                  "Romanian",
                  "Russian",
                  "Saudi",
                  "Scottish",
                  "Senegalese",
                  "Serbian",
                  "Singaporean",
                  "Slovak",
                  "South African",
                  "Korean",
                  "Spanish",
                  "Sri Lankan",
                  "Sudanese",
                  "Swedish",
                  "Swiss",
                  "Syrian",
                  "Taiwanese",
                  "Tajikistani",
                  "Thai",
                  "Tongan",
                  "Tunisian",
                  "Turkish",
                  "Ukrainian",
                  "Emirati",
                  "British",
                  "American **",
                  "Uruguayan",
                  "Venezuelan",
                  "Vietnamese",
                  "Welsh",
                  "Zambian",
                  "Zimbabwean"
                ],
                "value": "English",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.role",
                "type": "SELECT",
                "label": "Role / Title",
                "items": ["CEO", "CFO", "SMO", "DIRECTOR", "OTHER"],
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.ownershipPercentage",
                "type": "TEXT_FIELD",
                "label": "% ownership of the business entity",
                "tooltip": "If you hold any ownership of the business entity,\nplease insert the percentage. Otherwise type 0",
                "rules": [
                  {
                    "pattern": "^[0-9][0-9]?$|^100$",
                    "message": "Field should be a number between 0-100"
                  }
                ],
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.passport",
                "label": "Passport copy",
                "type": "FILE_INPUT",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.drivingLicense",
                "label": "Driving license",
                "type": "FILE_INPUT",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "representative.isAuthorized",
                "type": "CHECKBOX",
                "label": "I am the duly authorized representative of Bitter Sweet business entity",
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "type": "HTML",
                "code": "\n\n\n\n\n\n<ul>\n<li>The Business will be eligible to accept payments up to a <strong>total amount of £2500</strong> for a <strong>limited period of 30 days</strong>,  while we review and approve the account. </li>\n<li>Your business may be required to provide additional information and documents as part of the verification process. </li>\n<li>Failure to provide the required information shall result in suspension of the account and/or a refund of the amounts received. UNIPaaS reserves the right to request additional information and approve or reject your application. </li>\n</ul>\n\n<br />\n<br />\n\n<p>Here are some requierments form our legal department that you need to confirm: </p>\n\n<p>On behalf of the Business, \n<br />\nI represent and undertake that, I have fully read, understood and hereby accept the <a href=\"https://unipaas-static-documents.s3.eu-west-1.amazonaws.com/platforms/605c8a4b8b37a82b60f0752d/msa.html\">UNIPaaS Merchant Services Terms</a> (“Terms”) for the use of its payments services and agree to be bound (and have the Business be bound) by it; \n</p>\n\n\n<p>The sharing of documents and information with UNIPaaS, its affiliates and its third parties’ providers necessary for the payments services provided as stated in the Terms. </p>\n<p>I confirm that the business will NOT sell any of the <a href=\"https://unipaas-static-documents.s3.eu-west-1.amazonaws.com/prohibited-list.html\" target=\"_blank\">prohibited items</a>.</p>\n\n\n\n\n\n",
                "status": "PENDING",
                "required": true
              },
              {
                "alias": "business.agreement",
                "type": "AGREEMENT",
                "label": "I agree",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "business.accountHolderName",
                "editable": true,
                "type": "TEXT_FIELD",
                "label": "Bank Account holder name",
                "tooltip": "Enter the full name of the business entity that is associated with the bank account",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "business.bankAccount",
                "type": "TEXT_FIELD",
                "label": "Account number",
                "comment": "For example: 38290008",
                "rules": [
                  {
                    "pattern": "^[0-9]{8}$",
                    "message": "Bank Account Number must be exactly 8 digits"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "alias": "business.sortCode",
                "type": "TEXT_FIELD",
                "label": "Sort code",
                "comment": "For example: 200415",
                "rules": [
                  {
                    "pattern": "^[0-9]{6}$",
                    "message": "Sort-code must be exactly 6 digits"
                  }
                ],
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "editable": null,
                "required": true
              },
              {
                "type": "HTML",
                "code": "The following information can be found on your bank statement, or on the account page of your online banking web page or on your mobile banking application.",
                "status": "PENDING",
                "required": true
              },
              {
                "label": "Stakeholders",
                "alias": "company.ultimateBeneficialOwners",
                "type": "STAKEHOLDERS",
                "collapsed": true,
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "company.incorporationDocument",
                "label": "Incorporation Document",
                "type": "FILE_INPUT",
                "viewButton": true,
                "editable": true,
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              },
              {
                "alias": "business.bankStatement",
                "type": "FILE_INPUT",
                "editable": true,
                "label": "Bank Statement or a Voided Cheque",
                "comment": "Please upload a file dated within the past 3 months",
                "status": "PENDING",
                "completedAt": null,
                "value": null,
                "reason": null,
                "errors": null,
                "required": true
              }
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["status", "fields"]
      },
      "OnboardingApiPayload": {
        "type": "object",
        "properties": {
          "fields": {
            "example": [
              {
                "alias": "individual.email",
                "value": "john.doe@example.com"
              },
              {
                "alias": "individual.phone",
                "value": "+447911123456"
              },
              {
                "alias": "individual.firstName",
                "value": "John"
              },
              {
                "alias": "individual.lastName",
                "value": "Doe"
              },
              {
                "alias": "individual.birthDate",
                "value": "1991-04-02"
              },
              {
                "alias": "individual.address",
                "value": {
                  "country": "GB",
                  "city": "London",
                  "state": "England",
                  "houseNumber": "64",
                  "street": "New Cavendish Street",
                  "postCode": "SW1W 0NY"
                }
              },
              {
                "alias": "business.category",
                "value": "FOOD_DELIVERY"
              },
              {
                "alias": "business.url",
                "value": "example.com"
              },
              {
                "alias": "business.serviceDescription",
                "value": "example.com"
              },
              {
                "alias": "business.accountHolderName",
                "value": "Doe"
              },
              {
                "alias": "business.bankAccount",
                "value": "38290008"
              },
              {
                "alias": "business.sortCode",
                "value": "200415"
              },
              {
                "alias": "business.agreement",
                "value": {
                  "accepted": true,
                  "ipAddress": "1.1.1.1"
                }
              }
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["fields"]
      },
      "RequireOnboardingPayload": {
        "type": "object",
        "properties": {
          "fields": {
            "example": [
              {
                "alias": "individual.email",
                "value": "john.doe@example.com"
              },
              {
                "alias": "individual.phone",
                "value": "+447911123456"
              },
              {
                "alias": "individual.firstName",
                "value": "John"
              },
              {
                "alias": "individual.lastName",
                "value": "Doe"
              },
              {
                "alias": "individual.birthDate",
                "value": "1991-04-02"
              },
              {
                "alias": "individual.address",
                "value": {
                  "country": "GB",
                  "city": "London",
                  "state": "England",
                  "houseNumber": "64",
                  "street": "New Cavendish Street",
                  "postCode": "SW1W 0NY"
                }
              },
              {
                "alias": "business.category",
                "value": "FOOD_DELIVERY"
              },
              {
                "alias": "business.url",
                "value": "example.com"
              },
              {
                "alias": "business.serviceDescription",
                "value": "example.com"
              },
              {
                "alias": "business.accountHolderName",
                "value": "Doe"
              },
              {
                "alias": "business.bankAccount",
                "value": "38290008"
              },
              {
                "alias": "business.sortCode",
                "value": "200415"
              },
              {
                "alias": "business.agreement",
                "value": {
                  "accepted": true,
                  "ipAddress": "1.1.1.1"
                }
              }
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createOnboardingLink": {
            "type": "boolean",
            "example": true
          }
        },
        "required": ["fields"]
      },
      "OnboardingRequired": {
        "type": "object",
        "properties": {
          "onboardingStatus": {
            "example": "ACTION_REQUIRED",
            "type": "string",
            "enum": [
              "PENDING",
              "STARTED",
              "ACTION_REQUIRED",
              "RESTRICTED",
              "IN_REVIEW",
              "REJECTED",
              "ACCEPT_PAYMENTS",
              "COMPLETED"
            ]
          },
          "acceptPayments": {
            "type": "boolean",
            "example": true
          },
          "receivePayout": {
            "type": "boolean",
            "example": false
          },
          "fields": {
            "example": [
              {
                "alias": "business.bankDetails",
                "status": "PENDING",
                "value": "John"
              }
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "onboardingStatus",
          "acceptPayments",
          "receivePayout",
          "fields"
        ]
      },
      "Currency": {
        "type": "string",
        "enum": ["USD", "GBP", "EUR"]
      },
      "UOM": {
        "type": "string",
        "enum": [
          "milliseconds",
          "seconds",
          "minutes",
          "hours",
          "days",
          "weeks",
          "months",
          "quarters",
          "years"
        ]
      },
      "PublicCreatePlanDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "group": {
            "type": "string",
            "maxLength": 100
          },
          "price": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "example": 100
          },
          "currency": {
            "example": "GBP",
            "type": "string",
            "enum": ["USD", "GBP", "EUR"]
          },
          "period": {
            "type": "number",
            "minimum": 1,
            "exclusiveMinimum": true,
            "example": 12
          },
          "periodUOM": {
            "example": "months",
            "type": "string",
            "enum": [
              "milliseconds",
              "seconds",
              "minutes",
              "hours",
              "days",
              "weeks",
              "months",
              "quarters",
              "years"
            ]
          },
          "setupFee": {
            "type": "object",
            "example": 0
          },
          "autoRenewal": {
            "type": "object",
            "example": false
          }
        },
        "required": [
          "name",
          "description",
          "group",
          "price",
          "currency",
          "period",
          "periodUOM"
        ]
      },
      "PayInPlan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier/PK"
          },
          "correlationId": {
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "vendorId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "group": {
            "type": "string",
            "maxLength": 100
          },
          "price": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "example": 100
          },
          "currency": {
            "example": "GBP",
            "type": "string",
            "enum": ["USD", "GBP", "EUR"]
          },
          "period": {
            "type": "number",
            "minimum": 1,
            "exclusiveMinimum": true,
            "example": 12
          },
          "periodUOM": {
            "example": "months",
            "type": "string",
            "enum": [
              "milliseconds",
              "seconds",
              "minutes",
              "hours",
              "days",
              "weeks",
              "months",
              "quarters",
              "years"
            ]
          },
          "trialPeriod": {
            "type": "number",
            "minimum": 1,
            "exclusiveMinimum": true,
            "example": 1
          },
          "trialPeriodUOM": {
            "example": "months",
            "type": "string",
            "enum": [
              "milliseconds",
              "seconds",
              "minutes",
              "hours",
              "days",
              "weeks",
              "months",
              "quarters",
              "years"
            ]
          },
          "setupFee": {
            "type": "object",
            "minimum": 0,
            "exclusiveMinimum": true,
            "example": 1,
            "default": 0
          },
          "isActive": {
            "type": "boolean"
          },
          "isArchived": {
            "type": "boolean"
          },
          "featured": {
            "type": "boolean",
            "default": false
          },
          "autoRenewal": {
            "type": "boolean",
            "default": false
          },
          "createdBy": {
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "correlationId",
          "merchantId",
          "vendorId",
          "name",
          "description",
          "group",
          "price",
          "currency",
          "period",
          "periodUOM",
          "trialPeriodUOM",
          "isActive",
          "isArchived",
          "createdBy",
          "updatedBy"
        ]
      },
      "PublicUpdatePlanDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": ["name", "description"]
      },
      "SubscriptionPaymentMethod": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "isActive": {
            "type": "boolean"
          },
          "isArchived": {
            "type": "boolean"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "updatedAt": {
            "format": "date-time",
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          },
          "internalComment": {
            "type": "string"
          },
          "deletedAt": {
            "format": "date-time",
            "type": "string"
          },
          "methodId": {
            "type": "string"
          },
          "methodType": {
            "type": "string"
          },
          "last4": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "expMonth": {
            "type": "string"
          },
          "expYear": {
            "type": "string"
          },
          "initialTransactionId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "isActive",
          "isArchived",
          "createdAt",
          "createdBy",
          "updatedAt",
          "updatedBy",
          "internalComment",
          "deletedAt",
          "methodId",
          "methodType",
          "last4",
          "type",
          "expMonth",
          "expYear",
          "initialTransactionId"
        ]
      },
      "SubscriptionStatus": {
        "type": "string",
        "enum": [
          "pending",
          "active",
          "trial",
          "pending_pause",
          "paused",
          "expired",
          "pending_cancellation",
          "cancelled",
          "action_required"
        ]
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "isActive": {
            "type": "boolean"
          },
          "isArchived": {
            "type": "boolean"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "updatedAt": {
            "format": "date-time",
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          },
          "internalComment": {
            "type": "string"
          },
          "deletedAt": {
            "format": "date-time",
            "type": "string"
          },
          "planId": {
            "type": "number"
          },
          "identifier": {
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "vendorId": {
            "type": "string"
          },
          "costumerId": {
            "type": "string"
          },
          "poNumber": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "isActive": {
                "type": "boolean"
              },
              "isArchived": {
                "type": "boolean"
              },
              "createdAt": {
                "format": "date-time",
                "type": "string"
              },
              "createdBy": {
                "type": "string"
              },
              "updatedAt": {
                "format": "date-time",
                "type": "string"
              },
              "updatedBy": {
                "type": "string"
              },
              "internalComment": {
                "type": "string"
              },
              "deletedAt": {
                "format": "date-time",
                "type": "string"
              },
              "methodId": {
                "type": "string"
              },
              "methodType": {
                "type": "string"
              },
              "last4": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "expMonth": {
                "type": "string"
              },
              "expYear": {
                "type": "string"
              },
              "initialTransactionId": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "isActive",
              "isArchived",
              "createdAt",
              "createdBy",
              "updatedAt",
              "updatedBy",
              "internalComment",
              "deletedAt",
              "methodId",
              "methodType",
              "last4",
              "type",
              "expMonth",
              "expYear",
              "initialTransactionId"
            ]
          },
          "paymentMethodId": {
            "type": "number"
          },
          "parent": {
            "$ref": "#/components/schemas/Subscription"
          },
          "price": {
            "type": "number"
          },
          "outstandingBalance": {
            "type": "number"
          },
          "setupFee": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "period": {
            "type": "number"
          },
          "periodUOM": {
            "example": "days",
            "type": "string",
            "enum": [
              "milliseconds",
              "seconds",
              "minutes",
              "hours",
              "days",
              "weeks",
              "months",
              "quarters",
              "years"
            ]
          },
          "trialPeriod": {
            "type": "number"
          },
          "trialPeriodUOM": {
            "example": "days",
            "type": "string",
            "enum": [
              "milliseconds",
              "seconds",
              "minutes",
              "hours",
              "days",
              "weeks",
              "months",
              "quarters",
              "years"
            ]
          },
          "trialStart": {
            "format": "date-time",
            "type": "string"
          },
          "trialEnd": {
            "format": "date-time",
            "type": "string"
          },
          "status": {
            "example": "active",
            "type": "string",
            "enum": [
              "pending",
              "active",
              "trial",
              "pending_pause",
              "paused",
              "expired",
              "pending_cancellation",
              "cancelled",
              "action_required"
            ]
          },
          "taxable": {
            "type": "boolean"
          },
          "taxProfileId": {
            "type": "string"
          },
          "nextBillingOn": {
            "format": "date-time",
            "type": "string"
          },
          "isInBillingRetry": {
            "type": "boolean"
          },
          "nextBillingRetryOn": {
            "format": "date-time",
            "type": "string"
          },
          "billingRetryCount": {
            "type": "number"
          },
          "autoRenewal": {
            "type": "boolean"
          },
          "startedOn": {
            "format": "date-time",
            "type": "string"
          },
          "endsOn": {
            "format": "date-time",
            "type": "string"
          },
          "pausedAt": {
            "format": "date-time",
            "type": "string"
          },
          "pauseExtension": {
            "type": "number"
          },
          "pauseExtensionUOM": {
            "example": "days",
            "type": "string",
            "enum": [
              "milliseconds",
              "seconds",
              "minutes",
              "hours",
              "days",
              "weeks",
              "months",
              "quarters",
              "years"
            ]
          }
        },
        "required": [
          "id",
          "isActive",
          "isArchived",
          "createdAt",
          "createdBy",
          "updatedAt",
          "updatedBy",
          "internalComment",
          "deletedAt",
          "planId",
          "identifier",
          "merchantId",
          "vendorId",
          "costumerId",
          "poNumber",
          "paymentMethod",
          "paymentMethodId",
          "parent",
          "price",
          "outstandingBalance",
          "setupFee",
          "currency",
          "period",
          "periodUOM",
          "trialPeriod",
          "trialPeriodUOM",
          "trialStart",
          "trialEnd",
          "status",
          "taxable",
          "taxProfileId",
          "nextBillingOn",
          "isInBillingRetry",
          "nextBillingRetryOn",
          "billingRetryCount",
          "autoRenewal",
          "startedOn",
          "endsOn",
          "pausedAt",
          "pauseExtension",
          "pauseExtensionUOM"
        ]
      },
      "PublicPauseSubscriptionDto": {
        "type": "object",
        "properties": {
          "startDatetime": {
            "type": "string",
            "example": "2021-01-01 15:30"
          },
          "endDatetime": {
            "type": "string",
            "example": "2021-01-10 12:30"
          }
        },
        "required": ["startDatetime", "endDatetime"]
      },
      "Item": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 256
          },
          "amount": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "example": 100
          },
          "vendorId": {
            "type": "string"
          },
          "platformFee": {
            "type": "number",
            "description": "percentage fee",
            "minimum": 0,
            "maxLength": 100,
            "example": 10
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "fundingAmount": {
            "type": "number"
          }
        },
        "required": ["name", "amount"]
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          }
        },
        "required": ["id"]
      },
      "Address": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "maxLength": 256
          },
          "lastName": {
            "type": "string",
            "maxLength": 256
          },
          "city": {
            "type": "string",
            "example": "London",
            "description": "City, district, suburb, town, or village."
          },
          "country": {
            "type": "string",
            "format": "ISO 3166-1 alpha-2",
            "example": "GB",
            "description": "Two-letter country code (ISO 3166-1 alpha-2)."
          },
          "line1": {
            "type": "string",
            "example": "64 New Cavendish Street",
            "description": "Street, PO Box, or company name."
          },
          "line2": {
            "type": "string",
            "description": "Apartment, suite, unit, or building."
          },
          "postalCode": {
            "type": "string",
            "example": "W1G 8TB",
            "description": "ZIP or postal code."
          },
          "state": {
            "type": "string",
            "description": "State, county, province, or region."
          }
        },
        "required": ["city", "country", "line1", "postalCode"]
      },
      "DisablePaymentMethods": {
        "type": "object",
        "properties": {
          "disableCard": {
            "type": "boolean",
            "default": false,
            "example": false
          },
          "disablePayByBank": {
            "type": "boolean",
            "default": false,
            "example": false
          }
        }
      },
      "CreateCheckoutBody": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "example": 100,
            "multipleOf": 0.01
          },
          "currency": {
            "type": "string",
            "enum": ["USD", "GBP", "EUR"],
            "example": "GBP",
            "default": "GBP"
          },
          "country": {
            "type": "string",
            "format": "ISO 3166-1 alpha-2",
            "example": "GB"
          },
          "vendorId": {
            "type": "string"
          },
          "firstName": {
            "type": "string",
            "maxLength": 256
          },
          "lastName": {
            "type": "string",
            "maxLength": 256
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "format": "phone"
          },
          "orderId": {
            "type": "string",
            "maxLength": 256
          },
          "reference": {
            "type": "string",
            "maxLength": 256
          },
          "description": {
            "type": "string",
            "maxLength": 256
          },
          "successfulPaymentRedirect": {
            "type": "string",
            "maxLength": 256,
            "format": "uri",
            "example": "https://platform.com/redirect"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "maxLength": 256
                },
                "amount": {
                  "type": "number",
                  "minimum": 0,
                  "exclusiveMinimum": true,
[...]
